---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
  <div class="text-white text-center">
    <h1 class="text-3xl font-bold mb-14">About the project</h1>
    <p class="font-semibold text-lg">
      The SpaceX launches project is a demo for the Astro course.
    </p>
  </div>
</Layout>
