---
interface Props {
  path: string;
}
const { path } = Astro.props;
---

<a
  href={path}
  class="text-sm px-5 py-2.5 text-white inline-flex transition-all duration-200 ease-in-out hover:shadow-lg flex-row text-white text-center justify-center w-full h-full font-medium rounded-lg cursor-pointer hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium group-hover:text-sky-100 bg-slate-950 group-hover:bg-black backdrop-blur-3xl hove: scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100"
>
  <slot name="before" />
  <slot />
  <slot name="after" />
</a>
